.App-header {
    font-size: 3rem;
    background-color: white;
    color: yellow;
    width: 100%;
    margin: 0;
    padding: 1rem;
    text-shadow: 0 0 .2rem black, 0 0 .2rem black;
}

.App-questionnaire {
    font-size: 2rem;

    /* self */
    flex-grow: 1;

    /* content */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;   
}

.small-button {
    font-size: 1rem;
    padding: .3em;
    background-color: white;
    border: .2rem solid black;
    cursor: pointer;
}

.App-button {
    font-size: 2rem;
    margin: 1rem 0;
    width: 15rem;
    padding: .3em;
    background-color: white;
    border: .2rem solid black;
    cursor: pointer;
}
.App-button:hover {
    background-color: yellow;
}
.App-button:active {
    background-color: black;
    color: white;
}

footer {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.lp-logo {
    margin: .5rem;
    height: 3.5rem;
    border-radius: 50%;
}

.time-input {
    font-size: 2rem;
    margin: 1rem 0;
}

.right-footer {
    display: flex;
    align-items: flex-end;
}

.gitlab-link {
    display: flex;
    flex-direction: column;
    padding-bottom: .5em;
}

.gitlab-logo {
    height: 4rem;
    position: relative;
    top: 1em;
}

.ideal-link {
    display: flex;
    flex-direction: column;
    padding-bottom: .5rem;
    padding-right: .5rem;
}

.iDeal-logo {
    height: 2.5rem;
}

.result {
    font-size: 2.8em;
}